/* nprogress样式 */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
}

/* scroll bar */
::-webkit-scrollbar {
  --at-apply: w-1.5 h-1.5;
}

::-webkit-scrollbar-thumb {
  --at-apply: b-rd-6;
  background-color: var(--el-color-info-light-5);
}

// card 卡片默认样式 使用scss继承
%card-common {
  --at-apply: box-border overflow-x-hidden p-20px b rd b-[var(--border-color)] bg-[var(--main-bg-color)] shadow-sm;
}
// 自适应 超过最大就滚动
.card {
  @extend %card-common;
  --at-apply: max-w-full max-h-full;
}
// 铺满
.card-full {
  @extend %card-common;
  --at-apply: w-full h-full;
}

/* clearfix */
.clearfix::after {
  --at-apply: display-block h-0 overflow-hidden clear-both content-none;
}

// 解决 unplugin-icons defaltClass 上用 unocss 不生效
.inline {
  --at-apply: inline;
}

// 文字单行省略号 => truncate
// 文字多行省略号 => line-clamp-0 ... line-clamp-35
// 行高 使用自定义规则 => line-height-1

