// 加上root是为了优先级更高
:root {
  // layout
  .el-header {
    --el-header-padding: var(--header-padding);
    --el-header-height: var(--header-height);
  }

  .el-tabs {
    --el-tabs-header-height: var(--tabs-height);
  }

  .el-menu {
    --el-menu-bg-color: var(--menu-bg-color);
    --el-menu-hover-bg-color: var(--menu-bg-hover-color);
    --el-menu-text-color: var(--menu-text-color);
    --el-menu-active-color: var(--menu-text-active-color);
  }

  .el-footer {
    --el-footer-height: var(--footer-height);
  }

  // 抽屉
  .el-drawer {
    .el-drawer__header {
      --at-apply: box-border m-0 p-y-0 h-[var(--header-height)] b-b b-b-[var(--border-color)] color-current;
    }
  }
}
