:root {
  --header-height: 55px;
  --header-padding: 0 15px;
  --tabs-height: 40px;
  --menu-hide: 56px;
  --menu-show: 210px;
  --menu-bg-color: #191a20;
  --menu-bg-hover-color: #14151a;
  --menu-text-color: #bdbdc0;
  --menu-text-active-color: #ffffff;
  --footer-height: 30px;
}

:root.dark{
  --menu-bg-color: var(--el-bg-color);
  --menu-bg-hover-color: #0d0d0d;
}
